﻿@model DrinksMachineWeb.Models.DrinksMachineDto

@{
    ViewData["Title"] = "Home Page";
}

<style>
    input[type="submit"]:hover {
        background-color: blue;
    }

    .noBorder {
        border: none;
    }

    input[type="submit"] {
        font-size: 21px;
        color: white;
        background-color: black;
        width: 200px;
        height: 100px;
    }
</style>

@using (Html.BeginForm("Process", "Home", FormMethod.Post))
{
    <div class="text-center">
        <h1 class="display-4">Drinks Machine</h1>

        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="well bg-themeprimary bordered-right bordered-success">
                    <h5 class="block">Drinks Machine</h5>

                    <div id="app">
                        <div class="row">
                            <h2>Drinks</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                @foreach (var product in Model.Products)
                                {
                                    <div class="col-md-3">
                                        <div style="height:100px;">
                                            <h3>@product.ProductName</h3>
                                            <h4>$ @product.Price</h4>
                                            <h6>left: @product.QtyAvailable</h6>
                                        </div>
                                        <br/>
                                        <button id="buy_@product.ProductId" class="btnBuy" value="@product.Price">Buy</button>
                                    </div>}
                            </div>
                            <div class="col-md-4">

                                <p>
                                    <button id="insert01" class="btn btn-default">Insert Coin $ 0.01</button>
                                    <button id="insert05" class="btn btn-default">Insert Coin $ 0.05</button>
                                    <button id="insert10" class="btn btn-default">Insert Coin $ 0.10</button>
                                    <button id="insert25" class="btn btn-default">Insert Coin $ 0.25</button>
                                </p>

                                <h4>Total purchase</h4>
                                <div style="display: flex; margin-left:50px;">
                                    <span>$</span>
                                    <input type="text" id="totalPurchase" name="totalPurchase" class="noBorder" readonly />
                                </div>

                                <h4>Inserted Credit $</h4>
                                <div style="display: flex; margin-left:50px;">
                                    <span>$</span>
                                    <input type="text" id="totalInserted" name="totalInserted" class="noBorder" readonly>
                                </div>

                                <br />
                                <br />

                                <h3>Total Change </h3>
                                <div id="changeSection">
                                    <div class="col-md-10">
                                        @foreach (var coinReturn in Model.CoinsToReturn)
                                        {
                                            <span>* @coinReturn.CoinName x @coinReturn.QtyAvailable</span>
                                            <br />
                                        }
                                    </div>
                                </div>

                                <br />
                                <br />
                                <h3>Dispenser </h3>
                                <div id="dispenseSection">
                                    <div class="col-md-10">
                                        @foreach (var dispense in Model.DrinksToReturn)
                                        {
                                            <span>* @dispense</span>
                                            <br/>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <input type="hidden" id="productsHI" name="productsHI" />

    <input type="submit" id="btnPurchase" value="Execute purchase" class="btnPurchaseStyle" disabled />
}